.news_item {
    background-color: #fff;
    padding: 24px;
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    border: 1px solid rgba(0, 0, 0, 0.125);
    transition: 0.4s;
    font-family: var(--semibold);
}

.news_item:hover {
    transform: scale(1.1);
}

.news_item p {
    padding-inline: 24px;
}

.news_item .date {
    color: #6c757d;
}