.newsletter_container {
    font-family: var(--regular);
    padding: 0px 15px 60px 15px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: var(--textColor);
}

.newsletter_header {
    display: grid;
    width: 100%;
    place-items: center;
    text-align: center;
}

.newsletter_header > p {
    margin-top: -15px;
}

.newsletter {
    width: 100%;
    display: grid;
    justify-content: center;
}

.newsletter > input {
    width: 624px;
    height: 58px;
    border-radius: var(--radius);
    border: 1px solid #ced4da;
}

.newsletter > input::placeholder {
    font-size: 16px;
    color: var(--textColor);
    font-family: var(--regular);
}

.btn_newsletter {
    height: 46px;
    border-radius: var(--radius);
    margin-top: 18px;
}
