.album_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
}

.album_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: var(--maxWidth);
}

