.hidden {
    display: none;
}

.show {
    display: flex !important;
}

.mobile_menu {
    background-color: #f8f9fa;
    text-align: center;
    position: absolute;
    bottom: -100px;
    left: 0px;
    z-index: 10;
    width: 100%;
}

.mobile_menu a {
    text-decoration: none;
    color: #000;
}

.mobile_menu ul {
    list-style-type: none;
}

.mobile_menu li {
    margin-top: 8px;
    font-size: 18px;
}
